
.help{
    text-align: left;
    margin-top: 70px;
    min-width: 250px;
}
.ajuda{
    color: #3FB7EA;
    font-size: 25px;
}

.nova-reserva{
    color: #3FB7EA;
    font-size: 20px;
    margin-top: 20px;
}

.lista{
    margin-left: -20px;
    margin-right: 10px;
}